
/* .background-container.light {
  background-image: url('./assets/bg/page-bg-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.background-container.dark {
  background-image: url('./assets/bg/page-bg-dark-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
} */

#wrapper-canvas canvas {
  max-width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #1788ae;
}

.swiper-pagination-bullet {
  background-color: #23b9eb;
}